/* Estilos para el contenedor del selector de idioma */
.cambioIdioma-container {
    display: flex;
    gap: 25px; /* Espacio entre los botones */
    position: absolute;
    top: 20px;
    right: 20px; /* Lo coloca en la esquina superior derecha */
    z-index: 10; /* Asegura que el selector de idioma esté por encima del contenido */
    background-color: transparent;
  }
  
  /* Estilos para los botones de cambio de idioma */
  .cambioIdioma-btn {
    padding: 10px 20px;
    border: 2px solid #4CAF87; /* Borde de color amarillo */
    background-color: transparent;
    color: #4CAF87; /* Texto amarillo */
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Estilos cuando el botón está activo */
  .cambioIdioma-btn.active {
    background-color: #4CAF87; /* Fondo amarillo */
    color: white; /* Texto blanco */
  }
  
  /* Estilo al hacer hover sobre el botón */
  .cambioIdioma-btn:hover {
    background-color: #E4B363; /* Fondo amarillo en hover */
    color: white; /* Texto blanco en hover */
    border: 2px solid #E4B363;
  }
  